body{
    background-color: rgb(55, 53, 75);
    color: rgb(202, 182, 183);
}

main{
    border-color: rgb(75, 73, 91);
    border-width: 3px;
    border-style: solid;
    margin: 1%;
}

.img-fluid{
    margin-top: 0.5%;
}

nav{
    background-color: transparent ;
}

footer{
    text-align: center;
}

.img_padding{
    padding-top: 1%;
    padding-bottom: 1%;
}

.row{
   text-align: left;
}

.left{
    padding-top: 1%;
}

.right{
    padding-top: 1%;
}

.img-thumbnail{
    height: 100%;
    width: 50%;
}

.navbar-brand{
    color: aliceblue;
}

h3{
    text-align: center;
}

.card{
   margin: 1%;
}

.card:hover{
    box-shadow: 5px 5px #888888;
    cursor: pointer;
}

h2{
    text-align: center;
    margin-top: 1%;
}
